body {
    background-color: rgb(255, 255, 255);
}

.home {
    height: 100vh;
    background: linear-gradient(rgba(11, 11, 11, 0.8), rgba(54, 54, 62, 0.702)),
        url('../images/pexels-tara-winstead-8386440.jpg');
    background-size: cover;
}

.intro {
    color: whitesmoke;
    padding: 10% 20%;
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}

.name {
    font-size: 5em;
    font-weight: 500;
}